.content-table-name{
    width: 187px;
    padding-right: 60% !important;
  }
  
  .content-table-birth{
    padding-right: 40% !important;
  }
  
  .content-table-arrivel{
    padding-right: 40% !important;
  }