.container-info {
  width: 100%;
  background: #cef3f3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 100px;
}
.content-table-name{
  width: 187px;
  padding-right: 60%;
}

.content-table-departure{
  padding-right: 60%;
}

.content-table-arrivel{
  padding-right: 60%;
}
.container-info-values-treatment {
  display: flex;
  flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha se não houver espaço suficiente */
  gap: 24px;
}

.StyledButton {
  margin-top: 10px; /* Reduzi a margem para evitar que ultrapasse as bordas */
}

.container-info .MuiOutlinedInput-input {
  padding: 12px !important;
}

.button {
  width: auto;
  height: 40px;
}

.container-info-values {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 11px;
}
.content-table-name{
  width: 187px;
  padding-right: 45% !important;
}

.content-table-departure{
  padding-right: 25% !important;
}

.content-table-arrivel{
  padding-right: 40% !important;
}