.content-table-name{
    width: 187px;
    padding-right: 45% !important;
  }
  
  .content-table-departure{
    padding-right: 25% !important;
  }
  
  .content-table-arrivel{
    padding-right: 40% !important;
  }